<!DOCTYPE html>
<html>

<head>
  <meta lang='en-us' charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{styleSheet}}" type="text/css" />

</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">News Snatch</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/article/saved">Saved Articles</a></li>
      </ul>
    </div>
  </nav>
  
  {{{body}}}

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{{script}}"></script>
</body>

</html>
