<div class="panel panel-default">
  <div class="panel-body">
  <h3 class="text-center">Click Snatch! to grab the latest articles from Charlotte Observer</h3>
  <br><br>
  <button id="scrapeButton" class="btn btn-default btn-lg">Snatch!</button>
  </div>
</div>
